.products-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
}

.products-map{
   width: 250px;
   height: 400px;
   margin: 20px 10px;
   border: 1px solid rgb(156, 154, 154);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   align-items: center;
}
.products-map > img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.products-map > p{
   text-align: center;
   color: rgb(153, 153, 153);
   font-size:medium;
   font-weight:400;
}
.products-map > h3{
    text-align: center;
    font-size: 25px;
    margin: 5px;
}
.products-map > h3> span{
    color: gray;
    font-size: medium;
}
.products-map >div {
    display: flex;
    justify-content: center;
}
.products-map > div > p{
    background-color: green;
    width: 30px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
}
.products-map>div>h5{
    color: gray;
    font-size: medium;
}
.btn{
    background-color:darkmagenta;
    color: white;
    border: none;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}


